$blue: #87E9F7;
$yellow: #FFF7AE;
$gold: #F6D167;
$orange: #FFB990;
$lightred: #EE6863;
$red: #DF2E2E;
$darkred: #460000;
$palered: #9A544B;
$green: #4c7e4c;
$lightgreen: #90ee90;
$berry: #241571;
$purple: #A386D9;
$beige: #faf6ee;
$paleteal: #f0fbfb;
$cerulean: #0492C2;