h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  margin-top: 0;
}

*,
::after,
::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  &::-webkit-scrollbar {
    width: initial;
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 100px;
  }

  &::-webkit-scrollbar-thumb {
    border: 5px solid transparent;
    border-radius: 100px;
    background-color: crimson;
    background-clip: content-box;
  }

  scrollbar-color: crimson white;
}

body {
  padding: 0;
  position: relative;
  margin: auto;
  font-family: $fontPrimary;
  width: 100vw;
  overflow-x: hidden;
}

.SiteContainer {
  width: 100%;
  height: 100%;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}