.BreedsMasterSearchBar {
  z-index: 3;
  position: fixed;
  top: 0;
  right: 0;

  .SearchIcon-container {
    position: relative;
    top: 10px;
    right: 15px;
  }

  &-form {
    z-index: 4;
    position: absolute;
    width: 100%;
    padding-bottom: 6px;
    padding-top: 6px;
    background-color: unset;

    & > * {
      font-size: unset;
      line-height: 36px;
    }

    &-input {
      height: 45px;
      width: calc(100% - 25px);
      margin: 0 auto;

      input {
        position: relative;
        width: 100%;
        height: 100%;
        padding-left: 15px;
        padding-right: 33px;
        border-radius: 3px;
        font-family: $fontSecondary;
        font-size: 17px;
        font-weight: 600;
        letter-spacing: 1px;
        border: none;
        outline: none;
        box-shadow: 1px 4px 3px 2px #02557022;
      }
    }

    .CloseIcon-container {
      position: absolute;
      top: 6px;
      right: 12px;

      .CloseIcon {
        &:focus,
        &:hover {
          background-color: $cerulean;
          border-radius: 2px;
          box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);

          .CloseIcon-icon {
            &::before,
            &::after {
              background-color: white;
            }
          }
        }

        &-icon {
          &::before,
          &::after {
            background-color: $cerulean;
          }
        }
      }
    }
  }

  &.is-on {
    z-index: 4;
    width: 100%;
    height: 62px;

    @include for-tablet-portrait-up {
      max-width: calc(70% - 50px);
    }

    @include for-tablet-landscape-up {
      max-width: calc(50% - 50px);
    }
  }
}